<header>


    <nav class="container navbar navbar-dark navbar-main">
      <a  [routerLink]="['/']" href="https://novosite2022.aasp.org.br/" title="Ir para Home">
        <img src="#" alt="Logo">
      </a>
    </nav>

    <nav class="navbar navbar-dark navbar-sub">
      <a class="container navbar-sub-title" [routerLink]="['/']">Sorteador</a>
    </nav>


</header>

<section>
  <main class="container container-main">
    <router-outlet></router-outlet>
  </main>
</section>

<footer class="mt-2 p-2 text-center">
  <!-- <a href="#">Projeto Angular</a> -->
</footer>

